
  .container{
    background-color: rgb(153, 17, 17);
    // display: grid;
    // grid-template-columns: auto auto;
    display: flex;
    justify-content: space-evenly;
    .main{
        display: flex;
        
        flex-direction: row;
        align-items: center;
        margin-left: 10rem;
       width: 400px;
       height: 160px;
       border: 1px solid;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        gap: 2rem;
        .popular{
            width: 100px;
        }
       
    }
}

